services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_app
    ports:
      - "1004:3000"
    environment:
      - NODE_ENV=production
    restart: always